@import url('https://fonts.cdnfonts.com/css/julius-sans-one');
*{
    margin:0  
}
body{
    width:100%;
}


.login {
    height: var(--tamanho-login);
    background-size: cover;
  }
  
  .login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 30%;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: palevioletred;
    row-gap: 20px;
  }
  
  .card-cadastro {
    height: 80%;
  }
  
  .card-login {
    height: 60%;
  }
  
  .card h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .formulario span {
    font-size: 15px;
    font-weight: 800;
  }
  
  .formulario input {
    border: 2px solid #32b9cd;
    height: 30px;
    text-align: center;
    border-radius: 10px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #e6005a;
    width: 120px;
    height: 30px;
    align-self: center;
  }
  
  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

/* Início FOOTER */
.footer{
    height: 5rem;
    background-color: #20005c;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}